.App {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.test {
	color: #f19a67;
	color: #aaaaaa;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button:hover {
	cursor: pointer;
}
button {
	background: transparent;
	outline: none;
	position: relative;
	border: 2px solid #111;
	padding: 15px 10px;
	width: 100%;
	overflow: hidden;
	font-family: 'title';
}

/*button:before (attr data-hover)*/
button:hover:before {
	opacity: 1;
	transform: translate(0, 0);
}
button:before {
	content: attr(data-hover);
	position: absolute;
	top: 0.8em;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
	font-size: 1.5em;
	opacity: 0;
	transform: translate(-100%, 0);
	transition: all 0.3s ease-in-out;
}
/*button div (button text before hover)*/
button:hover div {
	opacity: 0;
	transform: translate(100%, 0);
}
button div {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
	font-size: 1.5em;
	transition: all 0.3s ease-in-out;
}
